.vc-updater-changes {
    background: var(--background-code);
    border: 1px solid var(--border-normal);
    margin-top: 16px !important;
    padding: .5em;
    border-radius: 4px;
}

.vc-updater-modal {
    padding: 1.5em !important;
}

.vc-updater-modal-close-button {
    float: right;
}