.vc-updater-changes {
    background: var(--background-code);
    border: 1px solid var(--border-normal);
    margin-top: 16px !important;
    padding: .5em;
    border-radius: 4px;
}

.vc-updater-modal {
    padding: 1.5em !important;
}

.vc-updater-modal-close-button {
    float: right;
}

.vc-updater-repo-hash {
    border-radius: 4px;
    font-size: 85%;
    height: auto;
    margin: -.2em 0;
    padding: 0 .2em;
    text-indent: 0;
    white-space: pre-wrap;
    background: var(--background-base-lowest);
}