.nx-error-card {
    border: 1px solid var(--border-subtle);
    background-color: var(--info-danger-background);
    padding: 24px;
    border-radius: var(--radius-md);
    color: var(--text-muted);

    & a:hover {
        text-decoration: underline;
    }
}
