.nx-card {
    border: 1px solid var(--border-subtle);
    background-color: var(--background-surface-high);
    padding: 24px;
    border-radius: var(--radius-md);
    color: var(--text-secondary);
}

.nx-card-small {
    padding: 12px !important;
}

.nx-card-grand {
    background-color: var(--background-base-lower) !important;
    box-shadow: var(--elevation-low);
}

.nx-card-warning {
    background-color: var(--background-feedback-warning) !important;
}

.nx-card-help {
    background-color: var(--background-feedback-info) !important;
}

.nx-card-positive {
    background-color: var(--background-feedback-positive) !important;
}

.nx-card-danger {
    background-color: var(--background-feedback-critical) !important;
}

.nx-card-special {
    background: linear-gradient(-22.5deg, var(--nx-green-background), var(--nx-purple-background)) !important;
    background-origin: border-box !important;
    background-color: unset !important;
}

.nx-title {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2;
    margin-top: -8px;
}

.nx-text {
    color: var(--text-secondary);
}

.nx-text-small {
    color: var(--text-muted) !important;
}