.vc-settings-quickActions-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: 1em;
}

.vc-settings-quickActions-title {
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}

.vc-settings-quickActions-containerButtons-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5em;
}

.vc-settings-quickActions-containerButtons-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 0.5em;
}

.vc-settings-quickActions-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.vc-settings-quickActions-button:focus-visible {
    outline: 2px solid var(--focus-primary);
    outline-offset: 2px;
    transition-duration: 0s;
}

.vc-settings-quickActions-img {
    width: 24px !important;
    height: 24px !important;
}

.vc-settings-quickActions-info-button {
    height: 24px;
    width: 24px;
    padding: 0;
    background: transparent;
    margin: 0;
    color: var(--interactive-normal);
    align-self: flex-start;
    margin-top: -2px !important;
}

.vc-settings-quickActions-info-button:hover {
    color: var(--text-muted);
}

.vc-settings-quickActions-info-button:focus-visible {
    border-radius: 100%;
    outline: 2px solid var(--focus-primary);
    outline-offset: -2px;
}

.vc-settings-quickActions-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}